{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

    <h1>{{title}}</h1>
    <form class="form" >
        <input type="file" name="csv" id="csv" accept=".csv">
        <button type="submit" class="btn btn-primary">Importer les utilisateurs</button>
    </form>
    <a href="{{ path('admin_users_add') }}">Ajouter un utilisateur manuellement</a>

    
{% endblock %}
